.hljs {
  line-height: 20px;
  font-size: 13px;
  font-family: "Roboto Mono", monospace, "Noto Sans Mono CJK TC", "Noto Sans Mono CJK SC", Arial !important;
}

.linenos {
  padding: 0 5px !important;
}

.linenos a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: right;
  text-decoration: none;
}

.linenos a span:hover {
  color: #666666 !important;
}

.linenos a span {
  color: #999999 !important;
  transition-property: color;
  transition-duration: 0.35s;
}

tbody .code {
  padding: 0 5px !important;
}

.line {
  display: inline-block;
  vertical-align: middle;
}
